/* * {
    padding: 0;margin: 0;border: 0;
}
*/
body {
    background-color: #865D36 !important;
}

.nuvado {
    color: white;
    font-family: 'panno-sign-positive', sans-serif; 
    font-size: 72px; 
    font-weight: 600; 
    font-style: normal;
}

.text {
    color: white;
}


.myImg {
    object-fit: fill !important;
}


/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */